<div class="d-flex justify-content-center" >
  <%= form_with(model: operation) do |form| %>
    <div class="container" id="form">
      <% if operation.errors.any? %>
        <div style="color: red" >
          <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

          <ul>
            <% operation.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


        <div>
          <%= form.label t('operations.form.amount'),style: "display: block" %>
          <%= form.text_field :amount, class:"form-control" %>
        </div>

        <div class="input-with-post-icon datepicker" >
          <%= form.label t('operations.form.odate'), style: "display: block" %>
          <%= form.datetime_field :odate, class:"form-control" %>
        </div>

        <div>
          <%= form.label t('operations.form.description'), style: "display: block" %>
          <%= form.text_field :description, class:"form-control"   %>
        </div>

        <br>
        <div>
          <%= form.label t('operations.income') %>
          <%= form.check_box :income, {}, true %>
        </div>


        <div class="text-center">
          <%= form.label t('operations.form.category'), style: "display: block"%>
          <% categories_array = Category.all.where('user_id = ?', current_user.id).map { | cat | [cat.name, cat.id]} %>
          <%= form.select(:category_id, categories_array, {include_blank: t('operations.form.choose')}, {:class => 'btn btn-secondary dropdown-toggle'}) %>
        </div>


        <hr class="border-dark border-3 opacity-100">

      <div class="container p-3 text-center">
        <div>
          <%= form.submit t('operations.form.submit'), class:"btn btn-success" %>
        </div>
      </div>
  </div>
  <% end %>
</div>

