<p style="color: green"><%= notice %></p>
<% if params[:o_type] == 'income' %>
  <% cat_title = "Income operations" %>
<% elsif params[:o_type] == 'outlay' %>
  <% cat_title = "Outlay operations" %>
<% else %>
  <% cat_title = "Operations" %>
<% end %>

<h1 class="text-center"><%= cat_title %></h1>

<div id="operations">
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <% @operations.each do |operation| %>
            <%= render operation %>
        <% end %>

      </div>
    </div>
  </div>
</div>


<%= paginate @operations %>

<div class="gap-6 text-center">
  <%= link_to "New operation", new_operation_path, class:"btn btn-dark", id:"margn-btns" %>
</div>

