<div class="container px-4 py-5">

  <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" >
    <div class="d flex-column h-100 p-5 pb-3 text-shadow-1">

      <h2 class="display-6 lh-1 fw-bold"><%= category.name %></h2>
      <h3 class="display-6 lh-1 fw-bold"><%= category.description %></h3>
    
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">         
          <%= link_to "Show", category, class:"btn btn-primary"%>
          <%= link_to "Edit", edit_category_path(category), class:"btn btn-primary"%>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Second group">         
          <%= button_to "Delete", category, method: :delete, class:"btn btn-danger"%>
        </div>
      </div>

    </div>
  </div>      
</div>
